.Ball {
    background-color: #bb1ba0;
    box-shadow: inset -8px -8px 0px 0px #a3197e, 0px 9px 30px 0px rgba(0,0,255,0.15);
    border-radius: 50%;
    color: #282c34;
    display: inline-block;
    width: 5em;
    height: 4em;
    padding-top: .75em;
    text-align: center;
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.Ball-Text {
  margin-top: .95em;
}
  