.Coin {
    border-radius: 50%;
    color: #282c34;
    display: inline-block;
    width: 5em;
    height: 4em;
    padding-top: .75em;
    text-align: center;
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.Coin-Text {
    font-size: 2em;
}