.Flipper {
    padding: 5em;
}

.Flipper-Title {
    font-size: 5em;
    color: white;
}

.Flipper-Score {
    font-size: 2em;
    color: #ffff;
}

.Flipper button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    width: 12em;
    font-size: 1.5em;
    font-weight: 300px;
    color: #282c34;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 2em;
    margin: 3em auto;
    border-radius: 1.15em;
}
  
.Flipper button.heads:hover {
    box-shadow: 0 .2em #15866a;
    top: .1em;
  }

.Flipper button.heads:active {
    box-shadow: 0 0 #15866a;
    top: .3em;
}

.Flipper button.tails:hover {
    box-shadow: 0 .2em #197da5;
    top: .1em;
  }

.Flipper button.tails:active {
    box-shadow: 0 0 #197da5;
    top: .3em;
}

.heads {
    background-color: #37cf7b;
    box-shadow: inset -8px -8px 0px 0px #15866a, 0px 9px 30px 0px rgba(0,0,255,0.15);
}

.tails {
    background-color: #26b8fc;
    box-shadow: inset -8px -8px 0px 0px #197da5, 0px 9px 30px 0px rgba(0,0,255,0.15);
}