.Lottery {
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
}

.Lottery-Title {
    font-size: 5em;
    color: white;
}
  
.Lottery button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #bb1ba0;
    width: 12em;
    font-size: 1.5em;
    font-weight: 300px;
    color: #282c34;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 2em;
    margin: 3em auto;
    border-radius: 1.15em;
    box-shadow: 0 .3em #8f167b;
}
  
.Lottery button:hover {
    box-shadow: 0 .2em #8f167b;
    top: .1em;
  }

.Lottery button:active {
    box-shadow: 0 0 #8f167b;
    top: .3em;
}